.myprogress{
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #ddd;
}
#mybar{
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: #48d1cc;

}
#label{
    text-align: center;
    line-height: 30px;
    color:white ;
}
.abs{
    border-style: dashed;
    border-color: tomato;
    margin-left: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: violet;
    border-radius: 50%;
}